<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<a href="/create">CREATE BLOG</a>
<table class="table" border="1" >
    <thead>
    <tr>
        <th>STT</th>
        <th>title</th>
        <th>author</th>
        <th>content</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,status : ${blogList}">
        <td th:text="${status.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.date}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${blogList.number - 1}, name=${names})}" th:if="${blogList.hasPrevious()}">Trước</a>
    <span th:text="${blogList.number + 1}"></span>/<span th:text="${blogList.totalPages}"></span>
    <a th:href="@{'/'(page=${blogList.number + 1}, name=${names})}" th:if="${blogList.hasNext()}">Sau</a>
</div>
</body>
</html>