<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1 style="text-align: center">UPDATE BLOG</h1>
<a href="blog.html">Back Home</a>
<form th:object="${blog}" method="post" action="/update">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>title</label>
        <input type="text" th:field="*{title}" th:value="${blog.title}">
    </div>

    <div>
        <label>author</label>
        <input type="text" th:field="*{author}" th:value="${blog.author}">
    </div>

    <div>
        <label>content</label>
        <input type="text" th:field="*{content}" th:value="${blog.content}">
    </div>

    <div>
        <label>date</label>
        <input type="text" th:field="*{date}" th:value="${blog.date}">
    </div>
    <div>
        <button type="submit">Update</button>
    </div>

</form>
</body>
</html>