<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
</head>
<body>
<h1>CREATE PRODUCT</h1>

<form th:object="${product}" method="post" action="/save" >
    <table class="table">
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
        <br>
        <tr>
            <td colspan="2">
                <button type="submit">Create</button>
            </td>
        </tr>
    </table>

</form>
</body>
</html>