<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1 style="text-align: center">List Song</h1>
<table class="table" border="3">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Type</th>
        <th>create</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song,status:${listSong}">
        <td th:text="${status.count}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.type}"></td>
        <td><a href="/create">Create</a></td>
        <td><a href="/formUpdate">Update</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${listSong.number - 1}, name=${names})}" th:if="${listSong.hasPrevious()}">Trước</a>
    <span th:text="${listSong.number + 1}"></span>/<span th:text="${listSong.totalPages}"></span>
    <a th:href="@{'/'(page=${listSong.number + 1}, name=${names})}" th:if="${listSong.hasNext()}">Sau</a>
</div>
</body>
</html>